* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 350px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form input {
  padding: 10px;
}

.signup-form button {
  padding: 10px;
  cursor: pointer;
}